.add-student-container-flex {
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.add-student-title {
  margin-top: 26px;
  font-size: 26px;
}

.add-student-name-label {
}

.add-student-name {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.name-input {
  font-size: 13px;
  padding: 6px 8px;
  max-width: 100%;
  margin: 10px 10px;
  color: #394263;
  border-color: #dbe1e8;
  border-radius: 4px;
  border: solid 1px black;
}

.add-student-button {
  max-width: 27%;
  padding: 8px;
  border-radius: 6px;
  box-shadow: none;
  margin-left: 52px;
  margin-top: 10px;
  border: solid 1px black;
}
